* {
    /* border: 1px solid red; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(218, 64, 218);
}

.background {
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -100px;
    margin-left: -65px;
}

.showfeats {
    z-index: 1;
    height: 19em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    text-shadow: -1px 1px 2px #000
                  1px 1px 0px #000
                  1px -1px 0px #000
                 -1px -1px 0px #000                
}

.artists-header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(0,0,0) 40%);
    align-items: flex-end;
}

.main-tile-dimension {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-bottom: 0px;
}

.image-container-artist {
    height: 840px;
    width: 100%;
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-grow: 1;
    background-color: black;
    overflow: hidden;
    
}

.local-concerts {
    color: white;
    margin-top: 5%;
}

.concert-container {
    background-color: rgba(0,0,0,0.5);
    padding: 20%;
}


footer {
    padding-top: 0%;
    margin-bottom: 0px;
}

.bottom {
    background-color: #000;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.mapimg {
    width: 250px;
}

.footinfo, .footshows, .social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
    padding-top:4%
}


.foothead{
    font-size: 2em;

}

.tiny {
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.logout {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 25%;
}

input {
    padding: 10px;
    
}
